body 
{
    background: url('../BackOffice/img/App_bg.jpg') no-repeat !important ;
    background-attachment:fixed;
	background-size:100%;
    text-align: center;
    
    
}


.fb-login-button
{
    text-align:center;
}

.ui-page, .ui-dialog {
    background: transparent repeat scroll;
}

.ui-content{
    background: transparent;
}

.ui-page.ui-body-c {
    background: url(..) !important;
    background-position:center;
}

div#center-button.fb-login-button
{
   margin-top:75%;
   padding-top:75%;
   
}