
.ui-page
{
    background: url('../images/mobile_bg.png.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

body
{
    text-align:center;    
}
.fb-login-button
{
    margin-top: 95%;
}



