body
{
    text-align: center;
    direction:rtl;
}

body .ui-li .ui-li-desc {
 white-space: normal;
 }
 
 body .ui-footer .ui-title {
 white-space: normal;
 }


#btnShareCampaign
{ background: #2d6b61;
  color:White;
}

#productImage
{
    width: 60%;
    height: 60%;
}
h2 .ui-btn-inner
{
    text-align: right;
}
.ui-listview .ui-li p,h3
{
     position:relative;
     right:55%;
}
.ui-listview .ui-li {
   text-align: right;
  
 }  

.ui-btn-active  
{
/*    color: white !important; background: black !important; background-color: black !important; */
     }
.ui-page { -webkit-backface-visibility: hidden; }

#productsOnSale img,
#scanHistoryList img
{
  width:100%;
  height:100%;
  position:absolute;
  right:0;
}


#scanHistoryList
{
       text-align:right;
}
#orgProfileTB
{
     position:relative;
     margin-left:auto;
     margin-right:auto;  
     text-align:right;
}

#orgProfileTB img
{
     height:30px;
     width:30px;
}
/* list view */

 .custom-li .ui-li 
 {
    direction:rtl;
 
 }

#scanHistoryList
{
 direction:rtl;   
}

#companyLogo
{
    width:70%;  
     
}

#fbLogo
{
     margin-right:10px;   
}



    .ui-li-link-alt { right: auto !important; } 
/* wrap push on wide viewports once open */
@media (min-width: 35em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
}

