body
{
    text-align: center;
}

#productImage
{
    width: 60%;
    height: 60%;
}
#orgName
{
    font-size:larger;
}
#showproductBody
{
}
h2 .ui-btn-inner
{
    text-align: right;
}

#propertiesAccordion .ui-icon
{
/*display:none;*/ 
}
