body
{
    text-align: center;
    direction:rtl;
}

#productImage
{
    width: 60%;
    height: 60%;
}
#orgName
{

}
#showproductBody
{
}
h2 .ui-btn-inner
{
    text-align: right;
}

#propertiesAccordion .ui-icon
{
/*display:none;*/ 
}
.ui-btn-active  
{
/*    color: white !important; background: black !important; background-color: black !important; */
     }
.ui-page { -webkit-backface-visibility: hidden; }

#myPopup
{

}
#orgProfileTB
{
     position:relative;
     margin-left:auto;
     margin-right:auto;  
}